@page "/"
@using Lab02Logic

<PageTitle>Home</PageTitle>

<h1>Welcome To The Store Item Manager!</h1>

<h3> Store Items</h3>

<br>
<label>Shopping Cart
</label>
<br>
<label>Total Cost:
</label>

<label>- @ShelfItemsList.TotalCost</label>
<br>

<button>
    <button @onclick=addApple> Add Apple To Cart</button>
</button>

<button>
    <button @onclick=addBanana>Add Banana To Cart</button>
</button>

<button>
    <button @onclick=addOrange>Add Orange To Cart</button>
</button>





@foreach (var storeItem in ShelfItemsList.ShelfList)
{
    <tr>
        <td>- @storeItem.ProductType</td>
        <td>- @storeItem.Cost</td>
        
        

    </tr>
}




@code {
    ShelfItems ShelfItemsList = new ShelfItems();
    decimal TotalCost;
    void addApple()
    {
        ShelfItemsList.AddItem("Apple");

    }

    void addBanana()
    {
        ShelfItemsList.AddItem("Banana");


    }

    void addOrange()
    {
        ShelfItemsList.AddItem("Orange");


    }
}
